@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', 'Inter', sans-serif;
  background-color: #fff;
  overflow: hidden;
}

/* Esconder créditos do mapa para visual limpo (Google Style) */
.leaflet-control-attribution { display: none !important; }
.leaflet-control-zoom { display: none !important; }

/* Marcadores */
.custom-pin {
  background-color: #EA4335; /* Vermelho Google */
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 13px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
.pin-success { background-color: #34A853; } /* Verde Google */
.pin-failed { background-color: #FBBC05; border-color: #fff; color: #333; } /* Amarelo Google */
.pin-active { 
  background-color: #4285F4; /* Azul Google */
  transform: scale(1.3); 
  border: 3px solid white;
  z-index: 9999 !important;
}

/* GPS DO USUÁRIO */
.user-gps-dot {
  background-color: #4285F4;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(66, 133, 244, 0.2);
}

/* BOTTOM SHEET GOOGLE STYLE */
.google-sheet {
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  transition: height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

/* BARRA DE BUSCA FLUTUANTE */
.google-search-bar {
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
